{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "KEY_VAULT_URL": "https://altus-core-staging-kv.vault.azure.net/",
    "SUPABASE_URL_SECRET_NAME": "SUPABASE_URL",
    "SUPABASE_SERVICE_ROLE_KEY_SECRET_NAME": "SUPABASE_SERVICE_ROLE_KEY"
  }
}
